.custom-subnavbar {
  background-color: white;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1030;
  padding: 0.25rem 0;
}

.custom-subnavbar .navbar-brand {
  font-weight: 600;
  font-size: 1.25rem;
  color: #5E1F20 !important;
}

.custom-subnavbar .nav-link {
  margin: 0 0.5rem;
  transition: color 0.3s ease;
  color: #5E1F20 !important;
}

.custom-subnavbar .nav-link:hover {
  color: #0d6efd !important;
}