@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

:root {
  --maroon: #5E1F20;
  --blue: #1F475E;
  --gold: #FAC337;
  --cream: #F2D9BB;
  --light-cream: #F2E6D8;
  
  --font-family: -apple-system, BlinkMacSystemFont, "Varela Round", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Varela Round", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(var(--blue), var(--blue)), linear-gradient(var(--maroon), var(--maroon)), linear-gradient(var(--blue), var(--blue));
  background-size: 100% 100vh, 100% 210vh, 100% 100vh, 100% 75.1vh;
  background-position: 0 0, 0 100vh, 0 300vh, 0 225vh;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  max-height: 300vh;
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(Maroon_Paper.svg);
  background-size: auto, 100% 75.1vh, 100% 75.1vh, 100% 75.1vh, 100% 75.1vh;
  background-position: 0 0, 0 0, 0 75vh, 0 150vh, 0 225vh;
  background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  min-height: 300vh;
  position: relative;
} */






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
